# IDE configuration
.idea/

# profiling data
prof/

# coverage files
.coverage
htmlcov/

# compiled files
*.pyc
build/
dist/

# pytest files
__pycache__/
.cache/
.pytest_cache/
pytest.ini

# documentation files
README.rst
docs/source
docs/_build

# distributions
*.egg-info

# mac nuisance files
.DS_Store
.DS_Store?

# WPS temporary files
.~*.docx
.~*.xlsx