# IDE configuration
.idea/

# profiling data
prof/

# coverage files
.coverage
htmlcov/

# compiled files
*.pyc
build/
dist/

# pytest files
__pycache__/
.cache/

# documentation files
README.rst
docs/source
docs/_build

# distributions
*.egg-info
