# IDE configuration
.idea/

# profiling data
prof/

# coverage files
.coverage
htmlcov/

# compiled files
*.pyc
__pycache__/
build/
dist/

# pytest files
.cache/
.pytest_cache/

# documentation files
README.rst
docs/source
docs/_build

# distributions
*.egg-info

# mac nuisance files
.DS_Store
.DS_Store?

# WPS temporary files
.~*.docx
.~*.xlsx

# temporary files for migration tests
tests/fixtures/migrate/tmp/

# ssh password
.sshpassword

# Dockerfile assets
Private_Dockerfile_assets
Public_Dockerfile
