biopython >= 1.75
gitpython
inflect
lark_parser
natsort
networkx
numpy
pandas
pint >= 0.10
pronto >= 1
python_dateutil
pyyaml >= 5.1
scipy
setuptools
six
stringcase
sympy
uncertainties
validate_email
weakreflist
