biopython
enum34
inflect
natsort
numpy
pint >= 0.9
git+https://github.com/KarrLab/pronto.git#egg=pronto-0.12.1 >= 0.12.1
python_dateutil
pyyaml
setuptools
six
stringcase
sympy
validate_email
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils-0.0.1a5
weakreflist
