biopython
enum34
inflect
natsort
networkx
numpy
pint >= 0.9
pronto
python_dateutil
pyyaml
setuptools
six
stringcase
sympy
validate_email
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils-0.0.3
weakreflist
