[grammar]
lark_parser

[math]
numpy
pandas
sympy

[sci]
pint >= 0.10
pronto >= 1
uncertainties

[chem]
bcforms
bpforms
openbabel < 3

[bio]
biopython == 1.77

[revisioning]
gitpython
wc_utils[git]

[viz]
graphviz >= 0.13

[web]
flask
flask_cors
flask_restplus
werkzeug < 1
