biopython
configparser
enum34
inflect
natsort
python_dateutil
six
sphinx >= 1.6
sphinx_rtd_theme
stringcase
sympy
sphinxcontrib_bibtex
robpol86_sphinxcontrib_googleanalytics
sphinxcontrib_spelling
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
weakreflist
